@import "~antd/dist/antd.css";

body {
  margin: 0px;
  padding: 0px;
  background-color: #2f2d51;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.lower {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cards {
  margin: 0;
  width: 700px;
  padding: 20px;
  height: 200px;
  background: #93d8f8;
  border: solid 1px #93d8f8;
}

.ticket-card {
  background-color: #ff97b5;
  border-radius: 8px;
  margin: 8px;
  overflow: hidden;
}

.container-2 {
  padding: 40px;
  height: 561.8px;
  border: solid 1px #93d8f8;
  box-shadow: 0 8px 50px -7px black;
  overflow: hidden;
  background-color: #ff97b5;
  overflow: hidden;
  text-align: center;
  border-radius: 8px;
}

.calc-body {
  width: 400px;
  margin: auto;
  min-height: 400px;
  border: solid 1px #93d8f8;
  box-shadow: 0 8px 50px -7px black;
  overflow: hidden;
  border-radius: 8px;
}

.calc-screen {
  background: #93d8f8;
  width: 100%;
  min-height: 150px;
  padding: 20px;
}

.calc-warning {
  max-width: 200px;
}

.calc-operation {
  text-align: right;
  color: #727b86;
  font-size: 21px;
  padding-bottom: 10px;
  border-bottom: dotted 1px;
}

.calc-typed {
  margin-top: 20px;
  font-size: 45px;
  text-align: right;
  color: #fff;
}

.calc-button-row {
  width: 100%;
  background: #2f2d51;
}

.button {
  width: 34.3%;
  background: #2f2d51;
  color: #fff;
  padding: 20px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin-right: -4px;
  border-right: solid 2px #3c4857;
  border-bottom: solid 2px #3c4857;
  transition: all 0.2s ease-in-out;
}

.button-add {
  width: 100.6%;
  background: #2f2d51;
  color: hsl(133, 100%, 80%);
  padding: 20px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin-right: -4px;
  border-right: solid 2px #3c4857;
  border-bottom: solid 2px #3c4857;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button.l {
  color: #aeb3ba;
  background: #404d5e;
  cursor: pointer;
}

.button.c {
  color: #d95d4e;
  background: #404d5e;
  cursor: pointer;
}

.button:hover {
  background: #ff97b5;
  cursor: pointer;
}

.button-add:hover {
  background: hsl(133, 100%, 80%);
  color: white;
  cursor: pointer;
}

.button.c:hover,
.button.l:hover {
  background: #ff97b5;
  color: #fff;
  cursor: pointer;
}

.blink-me {
  color: #ff97b5;
}
